/*navbar styling*/
.navbar-brand{
    left: 40%;
    position: relative;
    font-size:xx-large;
    font-family:Arial, Helvetica, sans-serif;
}

/* styling for search button */

#searchBtn {
    border-color:dodgerblue;
    border-radius: 10%;
    color: white;
}
  
.fas {
    font-size: 20px;
    transition: all .3s ease-in-out;
}



/*styling for 5 day forecast*/
#extended5 {
    display:flex;
    justify-content:space-evenly;
    
}
/*styling for UV index conditions */
.favorable {
    border-radius: 10px;
    padding: 5%;
    background-color: green;
    color: white;
}
  
.moderate {
    border-radius: 10px;
    padding: 5%;
    background-color: orange;
    color: white;
}
  
.severe {
    border-radius: 10px;
    padding: 5%;
    background-color: red;
    color: white;
} 

/*styling for footer*/
.footer {
    padding: 3%;
    background-color: white;
    position: relative;
}
